/* Base Application Styles */

a
  color #00bcd4
  text-decoration none

  &:hover
    text-decoration: underline

html
  font-family sans-serif
  -webkit-font-smoothing antialiased

body
  font-size 15px
  line-height 24px
  background-color #ffffff
